---
import { slide } from "astro:transitions";
import Layout from "../layouts/Layout.astro";
import TopNav from "../components/TopNav.astro";

---

<Layout title="My experiance" >
    <div transition:name="test" class=" mt-10">
        <h1 class=" text-right">Experiance page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore, culpa placeat tenetur eligendi nesciunt quia repellat assumenda ex quod voluptates iste excepturi omnis, doloremque aliquid suscipit officia magni amet.</p>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore, culpa placeat tenetur eligendi nesciunt quia repellat assumenda ex quod voluptates iste excepturi omnis, doloremque aliquid suscipit officia magni amet.</p>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore, culpa placeat tenetur eligendi nesciunt quia repellat assumenda ex quod voluptates iste excepturi omnis, doloremque aliquid suscipit officia magni amet.</p>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore, culpa placeat tenetur eligendi nesciunt quia repellat assumenda ex quod voluptates iste excepturi omnis, doloremque aliquid suscipit officia magni amet.</p>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore, culpa placeat tenetur eligendi nesciunt quia repellat assumenda ex quod voluptates iste excepturi omnis, doloremque aliquid suscipit officia magni amet.</p>
    </div>
</Layout>