---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Back from "../components/Icons/Back.astro";
---

<Layout title="Logo">
  <div class="w-full h-screen flex flex-col justify-center items-center">
    <div class="flex justify-start px-20 items-center w-full">
      <a href="/"
        ><div class="border-2 p-2 rounded-full">
          <Back />
        </div></a
      >
    </div>
    <Image
      width={12}
      height={12}
      src="/images/VP.png"
      alt="VP Logo"
      class="w-96 h-96 rounded-2xl"
      transition:name="test2"
    />
  </div>
</Layout>
