---
import TopNav from '../components/TopNav.astro';
import Layout from '../layouts/Layout.astro';
import MarqueeText from '../components/MarqueeText.astro';
import Skills from '../components/Skills.astro';
---

<Layout title="Welcome to Astro." >
	<TopNav />
	<main class=" w-full h-full flex justify-center items-center">
		<Skills/>
	</main>
</Layout>

