<div class="relative flex overflow-x-hidden w-fit">
  <div class=" animate-marquee whitespace-nowrap overflow-y-hidden">
    <span class="text-4xl mx-4">Think,</span>
    <span class="text-4xl mx-4">Build,</span>
    <span class="text-4xl mx-4">Develop,</span>
    <span class="text-4xl mx-4">Deploy,</span>
  </div>

  <div class="absolute top-0 animate-marquee2 whitespace-nowrap overflow-y-hidden">
    <span class="text-4xl mx-4">Think,</span>
    <span class="text-4xl mx-4">Build,</span>
    <span class="text-4xl mx-4">Develop,</span>
    <span class="text-4xl mx-4">Deploy,</span>
  </div>
</div>
